:host {
  display: block;
}

#messages {
  display: block;
  list-style-type: none;
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0;
  /*padding-bottom: 0px;*/
  overflow: auto;
  height: 83vh;
}

#mes {
  margin-left: 50px;
  margin-top: 0px;
}

#div {
  position: relative;
  padding-top: 10px;
}

button {
  margin-top: 0px;
  margin-left: 50px;
}





